header {
	z-index: 1;
	background-color: #DDA185;
  position: relative;
  width: auto;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	border-bottom: 3px solid rgb(239, 236, 234);
}

header h1 {
  font-family: Georgia, serif;
  padding-top: 20px;
  font-size: 50px;
  font-weight: bold;
	color: #AB3334;
	margin: 0px;
	text-align: center;
}

body {
  margin: 0px;
}

p {
  font-family: Georgia, serif;
}

.sphere {
  fill: rgb(199, 208, 213);
  opacity: .8
}

.countries:hover {
  stroke-width: 2.5;
  stroke: #ab3334;
}



div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;                 
  padding: 4px;             
  font: 12px sans-serif;        
  background: #93B1C6;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.lineLegend {
  font-size: 12px;
  font: sans-serif;
  text-anchor: start;
}


.mappp{
  position: absolute;
  top: 80px;
}

.year_slider {
  font-family: Georgia, serif;
  position: absolute;
  left: 50px;
  top: 90px;
}


.description {
  text-indent:2em;
  font-family: Georgia, serif;
  position: absolute;
  line-height: 150%;
  width: auto;
  padding-right: 23px;
  left: 950px;
  top: 150px;
}

.anotation {
  font-family: serif;
  text-anchor: start;
  font: 14px serif;
}

.attack_text {
  font-family: serif;
  text-anchor: end;
  font: 14px serif;
}

#btn1 {
  position: absolute;
  left: 812px;
  top: 120px;
}

.linechart {
  position: absolute;
  left: 900px;
  top: 120px;
}

#btn2 {
  position: absolute;
  left: 1340px;
  top: 760px;
  padding: 0px 15px;
}



#hint {
  background-color: rgb(239, 236, 234);
  position: absolute;
  left: 1045px;
  top: 460px;
  border: 2px dashed rgb(99, 95, 93);
  padding: 30px 35px;
}

#hint p{
  color: rgb(99, 95, 93);
  font-family: serif;
}

#x_axis{
  stroke-width: 2px;
}

#y_axis{
  stroke-width: 2px;
}

#legend {
  font-size: 12px;
  font: sans-serif;
}